{% extends 'base.html' %}


{% block content %}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
       
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex">
          
          {% if not post.is_archive %}
          <div class="me-3">
            <a href="{% url 'archivate_post' post.id %}" class="btn btn-secondary">
                Архивировать
            </a>
          </div>
          {% else %}
          <div class="me-3">
            <a href="{% url 'unarchive_post' post.id %}" class="btn btn-secondary">
                Разархивировать
            </a>
          </div>
          {% endif %}
          
          <div class="me-3">
            <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-danger">
              Удалить публикацию
            </a>
          </div>

          <div class="me-3">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-update">
              Редактировать
            </a>
          </div>

          </div>
        </div>
      </div>
    </div>
</div>

<div class="page-body">
  <div class="container-xl">
      <div class="content">
        <div class="w-50">
          <div class="card mb-3">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.author.username }}</h5>
              <p class="card-text">{{post.description }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>


<div class="modal modal-blur fade" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>Вы уверены ? </h3>
        <div class="text-muted">Вы уверены, что хотите удалить этот пост ?</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Закрыть
              </a></div>
            <div class="col">
              <a href="{% url 'delete_post' post.id %}" class="btn btn-danger w-100">
                Да,Удалить
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-blur fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Редактировать публикацию</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'update_post' post.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{form}}
              <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                  Закрыть
                </a>
                <button type="submit" class="btn btn-primary">
                  Сохранить обновление
                </button>
              </div>
          </form>
      </div>
      
    </div>
  </div>
</div>


{% endblock %}